.column1{
  float: left;
  width: 33%;
  color: brown;
}

.column2{
  float: left;
  width: 33%;
  color: orange;
}
.column3{
  float: left;
  width: 33%;
  color: blue;
}
.column1 h2 {
  color: greenyellow;
}
.column2 h2 {
  color: purple;
  font-family: 'Courier New', Courier, monospace;
}

.column3 h2 {
  color: red;
}
body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
  color: pink;
}
img{
  width: 300px;
}
.centered-image{
  width: 50%;
  height: auto;
  margin: auto;
  display: block;
}
